/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: url("../assets/bg-world.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

/* Container */
.container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  min-height: 70vh;
}

/* Login Box */
.login-box {
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 10px;
  width: 40%;
}

.login-box h2 {
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: blue;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.google-btn {
  width: 100%;
  padding: 10px;
  background: #fff;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  display: flex;            /* align logo + text */
  align-items: center;
  justify-content: center;
  gap: 10px;                /* space between logo and text */
  
  
}

.google-btn img {
  width: 20px;              /* logo size */
  height: 20px;
}

.google-btn:hover {
  background: #f5f5f5;           /* light gray on hover */
}


/* Illustration */
.illustration img {
  max-width: 400px;
}

/* .divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
  margin-right: .75em;
}
.divider:not(:empty)::after {
  margin-left: .75em;
}

.divider span {
  font-size: 14px;
  color: #aaa;
} */

